/************ RESET ***********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: no-repeat linear-gradient(#009688 15%, #DBDBD2 15% 80%);
}

/************ RESET END ***********/

/* *********** MAIN ***************/
.screen {
    width: 100%;
    height: 100%;
}

.appBox {
    width: 1550px;
    height: 920px;
    border: 1px solid #cccccc;
}

/********* LEFT PART **************/

.leftPart {
    width: 550px;
    height: 920px;
    border-right: 2px solid #dedbdb;
}

.sectionHeader {
    width: 100%;
    height: 70px;
    background-color: #EAEAEA;
}

.logoContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-image: url("../img/avatar_2.jpg"); */
    /* background-position: center;
    background-size: contain; */
}

.profileImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profileSettings>i {
    font-size: 23px;
    color: rgb(177, 177, 177);
}


.ringBellSection {
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
}

.notificationLogo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: white;
}

.notificationLogo>i {
    font-size: 20px;
    color: #8EDAFC;
}

.notificationSettings {
    font-size: 14px;
}

.notificationSettings>a {
    color: #7e7a7a;
}

.search {
    width: 100%;
    height: 55px;
    background-color: white;
}

.fa-magnifying-glass {
    color: #b3b0b0;
}

.searchInput {
    width: 80%;
    height: 40px;
    border: none;
    font-size: 12px;
    border-radius: 10px;
}

.messagesSec {
    width: 100%;
    height: calc(100% - 205px);
    background-color: white;
    overflow-y: auto;
}

.chat {
    width: 100%;
    height: 80px;
    border: 1px solid #dedbdb;
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
}

.leftChat {
    display: flex;
}

.nameAndMsg {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.message {
    font-size: 12px;
    color: #a19f9f;
}

.msgTime>span {
    font-size: 12px;
    color: #a19f9f;
}



/********* RIGHT PART **************/
.rightPart {
    width: 1000px;
    height: 920px;
}

.mainSection {
    width: 100%;
    height: 780px;
    background-image: url("../img/mine.jpg");
}

.footerRightSec {
    width: 100%;
    height: 70px;
    background-color: #F3EEEA;
}

.lastTime {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/********** FOOTER  ***************/
.footerRightSec i {
    font-size: 23px;
    color: #7e7a7a;
}

.writeMsg {
    flex-grow: 1;
}

.textBox {
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 50px;
    padding-left: 20px;
    font-size: 14px;
}